<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form (ngSubmit)="onSubmit()" id="login-form" class="form" [formGroup]="loginForm">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input formControlName="username" type="text"                   class="form-control">       
                            
                            <p class="errorCls"  *ngIf="loginForm.controls.username.touched || isFormSubmitted">
                                {{loginForm.get('username').errors}}
                            </p> 
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input formControlName="password" type="password" class="form-control">  
                            <p class="errorCls"  *ngIf="loginForm.controls.password.touched || isFormSubmitted">
                                {{loginForm.get('password').errors}}
                            </p>                            
                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="text-info">
                                <span>Remember me</span> <span><input id="remember-me" name="remember-me" formControlName="remember" type="checkbox"></span></label><br>
                            <input type="button" name="submit" class="btn btn-info btn-md"  value="submit" (click)="onSubmit()">
                        </div>
                        <div id="register-link" class="text-right">
                            <button 
                                type="button"
                                class="btn btn-info btn-md" 
                                (click)="redirect()">Register here</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 